<br/><br/><br/>
  <div class="row" >
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 offset-lg-2 offset-md-2 offset-sm-2 offset-xs-2" >
      <div class="card text-white bg-dark " style="width: 20rem;"style="margin-top: 100px;">
        <div class="card-body">
          <h2 class="card-title">Welcome to Flight Management  App</h2>
          <h4 class="card-subtitle mb-2 text-muted">Enjoy Your commute with worlds best Services</h4>
          <p class="card-text"></p>
          <div style="align-content: center;">
           
            <br/>
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 offset-lg-2 offset-md-2">
                <a class="btn btn-info" routerLink="/login">Login</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>