<app-navbar></app-navbar>
 
<div class="bg">
<br><br>


<div class="container-fluid">

<div class="col-8 offset-2" style="align-content: center;">
    <ngb-carousel>
        <ng-template ngbSlide>
            <img src="assets/images/PP4.jpg" alt="Image 1" style="height: 600px; width: 100%;">
            <div class="carousel-caption">
                <h2>Image 1 </h2>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img src="assets/images/PP3" alt="Image 2"  style="height: 600px; width: 100%;">
            <div class="carousel-caption">
                <h2>Image 2</h2>
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <img src="assets/images/PP1.jpg" alt="Image 3"  style="height: 600px; width: 100%;">
            <div class="carousel-caption">
                <h2>Image 3 </h2>
            </div>
        </ng-template>

    </ngb-carousel>
</div>

<br><br><br><br>

<div class="col-12" style="align-content: center;">
    <app-view-filghts></app-view-filghts>
</div>

<br><br><br><br>
</div>
</div>





