.logo {
    height: 890px;
    width: auto;
    display: block;
    margin: 0 auto;
    background:url('src\assets\images\PP1.jpg') no-repeat center center;
}

/* .bg{
  background: url("src\assets\images\PP1.jpg")no-repeat center center;
  background-size: cover;
  height: 890px;
} */