<br><br><br><br>

<nav class="navbar navbar-expand-md navbar-secondary bg-dark">

    <img src="assets\images\F1.svg" height="50" alt="CoolBrand">

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <a routerLink="/home" class="btn-change">Home</a>
            <a routerLink="/tickets" class="btn-change">Tickets</a>
            <!-- <a routerLink="/book" class="btn-change ">Book</a> -->
            <!-- <a routerLink="/cancel" class="btn-change ">Cancel</a> -->
            <!-- <a routerLink="#" class="nav-item nav-link disabled" tabindex="-1">Reports</a> -->
        </div>
        <div class="navbar-nav ml-auto">
            <a class="btn-change" (click)="logOut()">Logout</a>
        </div>
    </div>
</nav>
<!-- <div>
<a routerLink="/home" id="home1" class="btn">Home</a>
<a routerLink="/book" id="book1" class="btn ">Book</a>
<a routerLink="/tickets" id="tickets1" class="btn">Tickets</a>
<a routerLink="/cancel" id="cancel1" class="btn ">Cancel</a>
</div> -->